<div class="row">
  <div class="large-4 columns">
    <%= form.label :scheduled_at %>
    <%= form.datetime_local_field :scheduled_at %>
  </div>

  <div class="large-2 columns end">
    <%= form.label :available %>
    <%= form.number_field :available %>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= form.button %>
  </div>
</div>
