<div id="slides">
  <div class="slides_container">
    <div>
      <%= image_tag "slides/slide1.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide2.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide3.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide5.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide6.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide7.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide8.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide9.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide10.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide11.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide12.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide13.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide14.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide15.jpg", :class => "slide" %>
    </div>
    <div>
      <%= image_tag "slides/slide16.jpg", :class => "slide" %>
    </div>
  </div>
</div>
