<% content_for :title, "Our Creations" %>

<div class="row">
  <div class="col-md-12">
    <h2>Curators Creations</h2>
    <p>Curators Creations is all about combining beautifully made coffee
    with complementary ingredients to bring you
    interesting and great tasting beverages.</p>

    <p>Coffee has long been used as an ingredient in many recipes for cakes,
    chocolates and large cups of caramel flavoured milk.</p>

    <p>Modern specialty coffee shops have moved in the opposite direction,
    using coffee as the primary ingredient and only using water and milk
    as the other components of their recipe. Different coffees are
    frequently featured at Curators simultaneously to highlight
    differences in taste from coffee to coffee. We also know that roast
    profile, brew method and processing of the coffee cherry
    all have a huge impact on how a coffee can taste.</p>

    <p>At Curators, we use all of our skills and knowledge to explore the more delicate and intricate flavours you find in coffee to create combinations that will excite, challenge and please.</p>

    <p>Here are a few of our Creations that have featured in the past.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/december.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Mulled Cascara</h3>
    <p>We've used cascara again, but this time infused it with orange, cinnamon, cloves and star anise. This drink is hot, comforting and caffeinated – what more could you want!</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/november.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Building Blocks</h3>
    <p>The idea behind this Creation is to highlight different qualities of the espresso. Mixing walnut butter into the espresso enhances the nuttiness and mouthfeel. Then by sipping the espresso and cranberry juice alternately you get a kick of acidity to finish off.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/september.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Coffee Colada</h3>
    <p>This drink is a variation of a Tiki cocktail. The pineapple juice mimics the espresso with a balance of sweet and acidic. The 'rum' complements the rounded caramel flavours.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/august.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Peach Iced Tea</h3>
    <p>We have cold brewed Lalani &amp; Co Assam Gold 2nd Flush from the Belseri Estate. This black tea is delicate, clean and sweet. We have complemented its flavours by infusing it with ripe peaches.</p>

    <p>Lalani &amp; Co are family owned, have close relationships with their farmers and specialise in micro lot and small batch tea. The care they take and the amount of knowledge they have about tea is mind boggling.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/july.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>"Coffee... but not as you know it" or Sparkling Cascara with Lime.</h3>

    <p>Cascara is the dried fruit of the coffee cherry and can be infused in hot water to make a fruity tea-like beverage. It usually ends up being discarded in the rush to get to those aromatic beans but it tastes AWESOME and is packed with caffeine!</p>

    <p>We've made a super strong Cascara reduction for the Creation, mixed with a splash of lime and sparkling water served over ice. This one will see us through summer with a bang.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/june.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Summer Espresso Punch</h3>
    <p>Summer Espresso Punch is perfectly refreshing for the summertime. This is made with muddled strawberries and mint, a super fruity shot of Kenyan espresso, and sparkling water. Served stirred over ice.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/may.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Coffee in the Garden</h3>
    <p>We featured this signature drink at the <%= link_to 'London Coffee Festival', 'http://www.londoncoffeefestival.com/trueartisancafe.aspx' %>.</p>
    <p>A delicious long black served with Sorrel oil, lemon and honeycomb. Herbaceously delicious. AND we have a secret, fun food pairing up our sleeve thanks to Bittersweet Bakers.</p>
    <p>MINI HONEY AND BASIL MERINGUES!</p>
    <p>Double herbaceously delicious.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/april.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Magic Mushroom.</h3>
    <p>Mushroom has been long been used in culinary circles to
    improve texture and enhance flavour due to its Umami like properties.
    The same can be said for its effect on coffee. It may sound a
    little strange but mushroom and coffee complement each other
    perfectly.</p>
    <p>We have matched a mushroom consommé with a balanced,
    low acidity coffee served as an espresso. We recommend that you taste
    the espresso before adding the mushroom, and again afterwards. This
    Creation is all about introducing you to "mouthfeel". An important
    element for Baristas in our evaluation of coffee.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/february.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>East India Coffee</h3>
    <p>This is an espresso based drink, made with our house espresso. The shots are pulled ristretto style to obtain
    an intense sweet flavour to which we will then add 6 ounces of creamy
    steamed milk that has been infused for 48 hrs with warm spices of
    cardamon, cinnamon and star anise, along with vanilla, honey and
    ginger.</p>

    <p>Smooth, warm delicious and comforting. Perfect for winter weather.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "creations/2013/january.jpg", class: 'img-responsive' %>
  </div>

  <div class="col-md-8">
    <h3>Ginger and Chilli Brewed Coffee</h3>

    <p>The coffee we are using is a fully washed Ethiopian Sidamo. Brewed as
    a drip filter, sweet lemon is the dominant flavour that develops in
    the cup.  Combined with fresh ginger and a kick of chilli the resulting
    drink is warm and spicy with lots of lovely acidity. Delicious! Bonus
    points for being a tasty alternative to a milky latte, if you need to
    watch your waist line after Christmas and for containing natural
    goodness to ward off germs on the tube.</p>

  </div>
</div>
