<% content_for :title, "Our Creations" %>

<div class="row">
  <div class="columns large-12">
    <div class="leader-hero">
      <h2>Curators Creations</h2>
      <p>Curators Creations is all about using beautifully made coffee and
      combining it with other complementary ingredients to bring you
      interesting and great tasting beverages.</p>

      <p>Coffee has long been used as an ingredient in many recipes for cakes,
      chocolates and large cups of caramel flavoured milk.</p>

      <p>Modern specialty coffee shops have moved in the opposite direction,
      using coffee as the primary ingredient and only using water and milk
      as the other components of their recipe.  Different coffees are
      frequently featured at Curators simultaneously to highlight
      differences in taste from coffee to coffee. We also know that roast
      profile, brew method and processing of the coffee cherry, amongst
      other factors, all have a huge impact on how a coffee can taste and
      this can be experienced at most third wave coffee shops.</p>

      <p>We will be using all of our skills and knowledge to explore these more
      delicate and intricate flavours you find in coffee to create flavour
      combinations that will excite, challenge and please.</p>

      <p>Each month we will be featuring a Creation that we have worked on. We
      hope you enjoy them as much a we do.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/july.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>July's Creation</h3>
      <h4>"Coffee... but not as you know it" or Sparkling Cascara with Lime.</h4>

      <p>Cascara is the dried fruit of the coffee cherry and can be infused in hot water to make a tasty fruity tea like beverage. It usually ends up being discarded in the rush to get to those aromatic beans but it's AWESOME and most importantly packed with caffeine!</p>

      <p>We've made a super strong Cascara reduction for the Creation, mixed with a splash of lime, sparkling water and served over ice. This one will see us through summer with a bang.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/june.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>June's Creation</h3>
      <h4>Summer Espresso Punch</h4>
      <p>The June creation is a Summer Espresso Punch. Perfectly refreshing for the summertime, this is made with muddled strawberries and mint, a super fruity shot of Kenyan espresso, and sparking water. Served stirred over ice.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/londoncoffeefestival2013.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>May's Creation</h3>
      <h4>Coffee in the Garden</h4>
      <p>We featured this signature drink at the <%= link_to 'London Coffee Festival', 'http://www.londoncoffeefestival.com/trueartisancafe.aspx' %>.</p>
      <p>A delicious long black served with Sorrel oil, lemon and honeycomb. Herbaceously delicious. AND we have a secret super fun food pairing up our sleeve thanks to genius Bittersweet Bakers.</p>
      <p>MINI HONEY AND BASIL MERINGUES!</p>
      <p>Double herbaceously delicious.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/april.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>April's Creation</h3>
      <p>April's Creation is called, Magic Mushroom.</p>
      <p>Mushroom has been long been used in culinary circles to
      improve texture and enhance flavour due to its Umami like properties.
      The same can be said for its effect on coffee. It may sound a
      little strange but mushroom and coffee complement each other
      perfectly.</p>
      <p>We have matched a mushroom consommé with a balanced,
      low acidity coffee served as an espresso. We recommend that you taste
      the espresso before adding the mushroom, and again afterwards. This
      creation is all about introducing you to "mouthfeel". An important
      element as Baristas in our evaluation of coffee.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="radius leader-hero">
      <h3>March's Creation</h3>
      <p>This month it's called "Flower Power" and it's a sensory explosion. We are using our house coffee from Union as the base, then it's your choice of Espresso or Americano scented with the aroma of coffee flower oil.</p>

      <p>The flower of the coffee plant gives off a jasmine and milk chocolate scent which complements the floral properties of our house coffee perfectly. Combined it enhances your total coffee experience.</p>

      <p>And did you know that in times past, the scent of the flowering coffee plant was said to drive sailors off the African coast crazy as they could smell it 2 miles out to sea!</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/february.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>February's Creation</h3>
      <p>February's Creation is called the East India Coffee. It is an
      espresso based drink, made with our house espresso which is the Rogue
      roasted by Union. We will be pulling the shots as ristrettos to obtain
      an intense sweet flavour to which we will then add 6 ounces of creamy
      steamed milk that has been infused for 48 hrs with warm spices of
      cardamon, cinnamon and star anise, along with vanilla, honey and
      ginger.</p>

      <p>Smooth, warm delicious and comforting. Perfect for February weather.</p>
    </div>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "creations/january.jpg" %>
  </div>

  <div class="large-8 columns">
    <div class="radius leader-hero">
      <h3>January's Creation</h3>
      <p>January's Creation is a Ginger and Chili Brewed Coffee.</p>

      <p>The coffee we are using is a fully washed Ethiopian Sidamo. Brewed as
      a drip filter, sweet lemon is the dominant flavour that develops in
      the cup.  Combined with fresh ginger and a kick of chili the resulting
      drink is warm and spicy with lots of lovely acidity. Delicious! Bonus
      points for being a tasty alternative to a milky latte, if you need to
      watch your waist line after Christmas and for containing natural
      goodness to ward off germs on the tube.</p>

    </div>
  </div>
</div>
