<% content_for :title, "Locations" %>

<div class="row">
  <div class="col-md-8">
    <h1>Locations</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5 medium-4 hidden-xs">
    <div class="cc-panel">
      <a name="studio" />
      <%= link_to @studio_map_url do %>
        <img src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&center=51.512030,-0.082581&zoom=16&size=400x400&markers=color:0xadccd1|label:S|51.512030,-0.082581<%= "&key=#{GOOGLE_API_KEY}" if Rails.env == 'production' %>" />
      <% end %>
    </div>
  </div>
  <div class="col-md-7 medium-8 small-12">
    <%= render 'studio_vcard' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-5 medium-4 hidden-xs">
    <div class="cc-panel">
      <a name="gallery" />
      <%= link_to @gallery_map_url do %>
        <img src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&center=51.516574,-0.141677&zoom=16&size=400x400&markers=color:0x5a395c|label:G|51.516574,-0.141677<%= "&key=#{GOOGLE_API_KEY}" if Rails.env == 'production' %>" />
      <% end %>
    </div>
  </div>
  <div class="col-md-7 medium-8 small-12">
    <%= render 'gallery_vcard' %>
  </div>
</div>
