<% content_for :title do %>
  <%= @blog_post.title %> - Blog
<% end %>
<div class="row">
  <div class="large-12 columns">
    <h2><%= @blog_post.title %> <small><%= format_date(@blog_post.published_at) %></small></h2>
    <%= MARKDOWN.render(@blog_post.body).html_safe %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div id="disqus_thread"></div>
    <%= render :partial => 'partials/disqus' %>
  </div>
</div>
