<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? "#{yield(:title)} - Curators Coffee" : "Curators Coffee" %></title>
  <meta name="description" content="Specialty coffees, teas and quality local food in the City of London">

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>

  <!--[if lte IE 8]>
      <%= stylesheet_link_tag    "leaflet.ie" %>
  <![endif]-->

  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29743319-1']);
    _gaq.push(['_setDomainName', 'curatorscoffee.com']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <!-- Header and Nav -->

  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to image_tag('logos/cc-mini-typography.png'), root_path %></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li><%= link_to "About Us", root_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Drink & Eat", food_drink_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Our Creations", creations_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Our Classes", classes_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Our Design", design_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
        <li class="divider"></li>
        <li><a href="http://eepurl.com/ybpyn" id="js-mailing-list-link">Join Our Mailing List *</a></li>
      </ul>
    </section>
  </nav>
  <!-- End Header and Nav -->
  <%= yield %>

  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="four columns">
          <p>&copy; 2013 Curators Coffee</p>
        </div>
        <div class="eight columns">
          <ul class="inline-list right">
            <li><a href="http://maps.google.co.uk/maps?q=curators+coffee&amp;hl=en&amp;ll=51.512108,-0.082591&amp;spn=0.016279,0.036736&amp;sll=53.800651,-4.064941&amp;sspn=31.939111,75.234375&amp;hq=curators+coffee&amp;t=m&amp;z=16&amp;iwloc=A" class="dark adr">9a Cullum St London EC3M 7JJ</a></li>
            <li>Mon-Fri 7:30am-5:00pm</li>
            <li>020 7283 4642</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '51af6ac0613f5d56a100000e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
