<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Curators Coffee" %></title>

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag    "application" %>

  <!--[if lte IE 8]>
      <%= stylesheet_link_tag    "leaflet.ie" %>
  <![endif]-->

  <%= csrf_meta_tags %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29743319-1']);
    _gaq.push(['_setDomainName', 'curatorscoffee.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <!-- Header and Nav -->

  <nav class="top-bar">
    <ul>
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to "Curators Coffee", root_path %></h1>
      </li>
      <li class="toggle-topbar"><a href="#"></a></li>
    </ul>

    <section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Our Food & Drink", coffee_path %>
          <ul class="dropdown">
            <li><label>Our Drinks</label></li>
            <li><%= link_to "Coffee", coffee_path %></li>
            <li><%= link_to "Tea", tea_path %></li>
            <li><%= link_to "Design", design_path, :class => 'hide-for-small' %></li>
            <li class="divider"></li>
            <li><%= link_to "Our Food", food_path %></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Curators Creations", creations_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Contact Us", contact_us_path %></li>
      </ul>
    </section>
  </nav>
  <!-- Header and Nav -->

  <div class="row">
    <div class="four columns">
      <h1><%= link_to image_tag("logo-studio-stamp.png", :class => 'cc-logo'), root_path %></h1>
      <%= yield :sub_logo_content %>
    </div>
    <div class="eight columns">
      <%= yield :top_content %>
    </div>
  </div>
  <!-- End Header and Nav -->
  <%= yield %>

  <!-- Footer -->

  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="four columns">
          <p>&copy; 2013 Curators Coffee</p>
        </div>
        <div class="eight columns">
          <ul class="inline-list right">
            <li><a href="http://maps.google.co.uk/maps?q=curators+coffee&amp;hl=en&amp;ll=51.512108,-0.082591&amp;spn=0.016279,0.036736&amp;sll=53.800651,-4.064941&amp;sspn=31.939111,75.234375&amp;hq=curators+coffee&amp;t=m&amp;z=16&amp;iwloc=A" class="dark adr">9a Cullum St London EC3M 7JJ</a></li>
            <li>Mon-Fri 7:30am-5:00pm</li>
            <li>020 7283 4642</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
</body>
</html>
