<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="msapplication-TileImage" content="/apple-touch-icon.png">
  <meta name="msapplication-TileColor" content="#adccd1">
  <link rel="icon" type="image/png" href="/apple-touch-icon.png">

  <title><%= content_for?(:title) ? "#{yield(:title)} - Curators Coffee" : "Curators Coffee" %></title>
  <meta name="description" content="Specialty coffees, teas and quality local food in the City of London">

  <!-- Included CSS Files -->
  <%= stylesheet_link_tag "application" %>

  <%= render partial: 'partials/rollbar' %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= csrf_meta_tags %>

  <script type="text/javascript" src="//use.typekit.net/mbu3uul.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29743319-1']);
    _gaq.push(['_setDomainName', 'curatorscoffee.com']);
    _gaq.push(['_gat._anonymizeIp']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.0.9/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
  </script>
</head>

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1594454537447073',
        xfbml      : true,
        version    : 'v2.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>


  <!-- Static navbar -->
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><%= link_to "Home", root_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Drink & Eat", food_drink_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Catering", catering_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Creations", creations_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Classes", classes_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Design", design_path, :class => "menu-link" %></li>
          <li role="presentation"><%= link_to "Find Us", locations_path, class: 'menu-link' %></li>
        </ul>
      </nav>
      <%= link_to image_tag("logos/cc-stamp.png", class: 'cc-logo'), root_path %>
    </div><!--/.nav-collapse -->

    <%= yield %>

    <%= render partial: 'partials/footer', locals: {gallery_map_url: @gallery_map_url, studio_map_url: @studio_map_url} %>

  </div>

  <%= javascript_include_tag "application" %>

  <script type="text/javascript" charset="utf-8">
    <%= yield :custom_js %>
  </script>
</body>
</html>
